*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --font-family: 'PT Sans', sans-serif;
  --second-family: 'Bebas Neue', sans-serif;
}

body {
  background: #ffffff;
  font-family: var(--font-family);
}
